.container {
    /* border: 2px solid white; */
    width: 100%;
    height: auto;
    font-size: smaller;
}

#hdr {
    color: rgb(194, 170, 33)
}

#date {
    /* border: 2px solid white; */
    color: rgb(160, 121, 15);
    margin-top: 10px;
    margin-bottom: -10px;
}

#lis {
    margin: .75rem 0;
}
