.downloadBtn {
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 50px;
    margin: 1.4rem;
    background-image: linear-gradient(
        to right,
        #462523 0,
        #cb9b51 22%, 
        #f6e27a 45%,
        #e8e28e 50%,
        #f6e27a 55%,
        #cb9b51 78%,
        #462523 100%
	);
    color: rgb(21, 19, 14);
    font-weight: bold;
    /* shadow */
    box-shadow: 0 3px 3px #000;
    -moz-box-shadow:0 3px 3px #000;
    -webkit-box-shadow:0 3px 3px #000;
}

/* Adding styles on 'active' state */
.downloadBtn:active {
    transform: translateY(4px);
    /* Moving button 4px to y-axis */
}

.downloadBtn:hover {
    cursor: pointer;
}