.container {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 2%; */
}

.wrapper {
    /* border: 2px solid rgb(152, 41, 226); */
    border-radius: 10px;
    background-color: rgb(44, 44, 44);
    color: white;
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    font-size: 20px;
    
}

#specialMsg {
    font-weight: bold;
    color: red;
}