.container {
    border: 2px solid black;
    border-radius: 5px;
    background-color: ghostwhite;
    padding: 0;
    padding-right: 2rem;
    margin: 1.2%;
    width: 20%;
    box-shadow: 1px 1px 1px rgb(105, 105, 105);
}

.pbs1 {
    background-color: rgb(68, 68, 68);
    color: rgb(231, 105, 105);
}
.pbs2 {
    background-color: rgb(68, 68, 68);
    color: rgb(134, 235, 139);
}
.pbs3 {
    background-color: rgb(68, 68, 68);
    color: rgb(132, 226, 230);
}