.container {
    /* border: 2px solid rgb(39, 39, 20); */
    width: 30%;
    height: 35px;
    color: rgb(77, 76, 76);
    font-size: 25px;
    margin: 0;
    margin-top: 1.3rem;
    margin-left: 70%;
}