.container {
    border: 2px solid rgb(47, 47, 47);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    background: rgb(234, 234, 234);
    color: black;
    width: 22%;
    height: auto;
    margin: 1.2rem 1.2rem;
    /* transition: background-color 420ms ease-in-out; */
    transition: border 420ms ease-in-out;
    transition: box-shadow 550ms ease-in-out;
    position: relative;
    max-width: 480px;
    min-width: 400px;
}

.container:hover {
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 6px 6px #000;
    -moz-box-shadow:0 6px 6px #000;
    -webkit-box-shadow:0 6px 6px #000;
    /* background: rgb(155, 154, 154); */
    /* color: whitesmoke; */
}

.picture {
    width: 100%;
    height: 340px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    overflow: hidden;
}

.name {
    /* border: 2px solid rgb(110, 50, 60); */
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    overflow: hidden;
}

.desc {
    /* border: 2px solid rgb(241, 102, 213); */
    /* width: 100%; */
    /* height: 80px; */
    width: 80%;
    height: 80px;
    margin: 0 .4rem;
    padding: .2rem .2rem;
    font-size: 1rem;
    /* EDIT: temp, for now? */
    overflow: hidden;
}

.tstack {
    /* border: 2px solid rgb(155, 102, 241); */
    width: 80%;
    height: 70px;
    margin: .7rem 1.2rem;
    padding: .2rem .2rem;
    font-size: 1rem;
    /* EDIT: temp, for now? */
    overflow: hidden;
}

.bottomOpts {
    /* border: 2px solid rgb(102, 163, 102); */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 1.2rem;
}

.status {
    /* border: 2px solid rgb(61, 141, 161); */
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    color: black;
    width: auto;
    padding: .45rem .45rem;
    font-weight: 500;
    font-size: 1.3rem;
}

#status1 {
    color: rgb(243, 235, 220);
    background-color: rgb(213, 143, 13);
}

#status2 {
    color: rgb(210, 246, 205);
    background-color: rgb(70, 139, 61);
}

#status3 {
    color: rgb(218, 242, 242);
    background-color: rgb(62, 169, 169);
}

.githubLogoAnchorTag {
    color: rgb(70, 16, 82);
}

.githubLogo {
    /* border: 2px solid rgb(102, 163, 102); */
    width: auto;
    height: 2.8rem;
    transition: color 320ms ease-in-out;
}

.githubLogo:hover {
    color: rgb(172, 34, 206);
    cursor: pointer;
}


@media only screen and (max-width: 420px) {
    .container {
        width: 90%;
        min-width: 270px;
    }
    
}