.container {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(0, 0, 0);
    border-bottom: 0;
    border-radius: 15px 15px 0 0;
    background-color: rgb(58, 58, 58);
    color: whitesmoke;
    padding: .4rem .8rem;
    width: 20%;
    height: 50px;
    /* margin-right: .01rem; */
    cursor: pointer;
    transition: background-color 0.6s ease;
    /* text overflow if text too big */
    white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.label {
    font-size: 1.4rem
}

/* Tab Option Styles */
.opt1 {
    border: 2px solid rgb(255, 0, 0);
    border-bottom: 0;
    /* keep border-left for first tab */
    background-color: rgb(239, 207, 207);
    color: rgb(255, 0, 0);
}

#opt1Selected {
    background-color: rgb(232, 101, 101);
    color: rgb(239, 207, 207);;
}

.opt2 {
    border: 2px solid rgb(192, 162, 13);
    border-bottom: 0;
    border-left: 0;
    background-color: rgb(239, 237, 210);
    color: rgb(167, 154, 17);
}

#opt2Selected {
    background-color: rgb(194, 175, 79);
    color: rgb(241, 240, 225);
}

.opt3 {
    border: 2px solid rgb(16, 165, 185);
    border-bottom: 0;
    border-left: 0;
    background-color: rgb(190, 224, 228);
    color: rgb(16, 165, 185);
}

#opt3Selected {
    background-color: rgb(97, 182, 194);
    color: rgb(190, 224, 228);
}

.opt4 {
    border: 2px solid rgb(72, 207, 38);
    border-bottom: 0;
    border-left: 0;
    background-color: rgb(203, 229, 196);
    color: rgb(72, 207, 38);
}

#opt4Selected {
    background-color: rgb(138, 217, 116);
    color: rgb(217, 232, 213);
}

.opt5 {
    border: 2px solid rgb(172, 45, 204);
    border-bottom: 0;
    border-left: 0;
    background-color: rgb(231, 212, 236);
    color: rgb(172, 45, 204);
}

#opt5Selected {
    background-color: rgb(204, 125, 225);
    color: rgb(231, 212, 236)
}

.opt6 {
    /* border: 2px solid rgb(255, 85, 0); */
    border-bottom: 0;
    border-left: 0;
    background-color: rgb(44, 44, 44);
    color: rgb(255, 0, 0);
}
/* 
#opt6Selected {
    border: 2px solid rgb(255, 85, 0);
    border-bottom: 0;
    background-color: rgb(255, 85, 0);
    color: rgb(255, 255, 255);
}  
*/

/* Ripple effect */
/* 
    background-position: center;
    transition: background 0.8s;
} */

/* .opt1:hover {
    background: rgb(158, 193, 203) radial-gradient(circle, transparent 1%, rgb(135, 175, 186) 1%) center/15000%;
}
.opt1:active {
    background-color: rgb(88, 124, 134);
    background-size: 100%;
    transition: background 0s;
} */

@media only screen and (max-width: 1250px) {
    .label {
        font-size: .8em
    }
}

@media only screen and (max-width: 525px) {
    .label {
        font-size: .6em
    }
}

@media only screen and (max-width: 430px) {
    .label {
        font-size: 8px;
    }
}