.container {
    /* border: 5px solid rgb(119, 119, 119); */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    /* width 100% here is glitching... */
    width: 95%;
    height: auto;
    padding: 0 1rem;
    margin: .4rem .4rem;   
}

@media only screen and (max-width: 1000px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}